canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0px 50px;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
