canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0px 50px;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  text-align: center;
  /*min-height: 100vh;  at least full viewport height */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1; /* allows the main content to grow and fill available space */
}

.face-recognition-wrapper {
  position: relative; /* establishes the context for absolute positioning */
  min-height: 330px; /* or whatever height your FaceRecognition roughly needs */
  margin-bottom: 1rem; /* adds space below so footer won't overlap */
}

.center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }
  .App {
    flex-direction: column; /* Stack elements vertically on small screens */
  }
  .main-content {
    padding: 10px; /* Add some padding to the main content */
  }
  .face-recognition-wrapper {
    min-height: 200px; /* Adjust height for smaller screens */
  }
}
