:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-align: center;
  background: linear-gradient(
    180.2deg,
    rgb(30, 33, 48) 6.8%,
    rgb(74, 98, 110) 131%
  );
}
