:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-align: center;
  background: linear-gradient(
    180.2deg,
    rgb(30, 33, 48) 6.8%,
    rgb(74, 98, 110) 131%
  );
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
  footer p,
  .f7 {
    font-size: 10px; /* Smaller footer text */
  }
  .f1 {
    font-size: 30px;
  }
  .f3 {
    font-size: 16px;
  }
  .ma4 {
    margin: 0;
  }
}
